{% extends 'gabarit_command.html.twig' %}

{% block title %}Commande terminée!{% endblock %}

{% block command %}

   <div class="container">
       <div class="h1">Votre commande est à présent terminé!</div>
       <br>
       <img src="{{ asset('images/logo@2x.png') }}" alt="logo musée">
       <br><br>
        Nous avons le plaisir de vous confirmer votre commande!<br><br>
        Un email incluant vos billets a été envoyé sur votre boite mail<br>
        Attention de penser à imprimer les billets avant de vous rendre au musée ou en avoir
        la preuve electronique.<br>
        <br>
        Bonne visite !<br>
        <br>
        <a href="{{ path('home') }}">Cliquez ici pour revenir à l'acceuil!</a>
    </div>
    <br>
{% endblock %}

{% block javascripts %}

{% endblock %}