{% extends 'gabarit.html.twig' %}

{% block title %}Commande non ouverte!{% endblock %}

{% block body %}
<div class="container">
    <div class="alert-danger">
        Réserervation fermé, merci de revenir ultérieurement.
    </div>
</div>
{% endblock %}
