{% extends 'gabarit.html.twig' %}

{% block title %}Bienvenue au musée du Louvre!{% endblock %}

{% block body %}
    <div class="index-wrapper">
        <h1>Le site du musée du Louvre ✅</h1>

        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias amet beatae, commodi dolor earum
            explicabo
            laboriosam libero magni natus nihil officia porro, quaerat qui quia sint soluta, temporibus voluptas.
        </div>
        <div>Cupiditate facere nam natus qui saepe sapiente unde voluptatibus! Aliquid architecto assumenda consequatur
            dignissimos dolorem, eos error fugit laboriosam molestiae nostrum officiis quidem quo ratione sapiente sint
            sunt
            voluptatum! Numquam.
        </div>
        <div>Accusantium beatae consectetur debitis eligendi in perspiciatis voluptatum. Aut fugiat fugit quam saepe.
            Aut
            culpa harum id illum minus neque nostrum, omnis perspiciatis, praesentium, sit sunt tempora velit veniam
            voluptatum.
        </div>
        <div>Asperiores consequatur dolore eaque earum ex facere fuga, fugiat in modi nihil nobis non nulla odit, quo
            reiciendis sint suscipit tempora ullam ut voluptatem. Ad culpa ducimus ipsam non ratione!
        </div>
        <div>A aperiam architecto, aspernatur aut deleniti dolorem explicabo, facere fugiat magnam magni minima,
            perferendis
            quaerat sed soluta ut. Aut dolores excepturi harum incidunt laboriosam, maxime omnis possimus quidem ut
            voluptates.
        </div>
        <ul>
            <li>ligne 1</li>
            <li>Vers un lien <code><a href="{{ ''|file_link(0) }}">Le lien</a></code></li>
        </ul>
    </div>
{% endblock %}
