{% extends 'gabarit.html.twig' %}

{% block title %}412 - Réservation fermé!{% endblock %}

{% block body %}
<div class="container">
    <div class="alert-danger">
        Erreur 412 - Erreur de précondition commande:

        Réserervation fermé, merci de revenir ultérieurement!
    </div>
</div>
{% endblock %}
